<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <ul>
      <li>Get all pledges at
        <strong><span class="code">/api/pledges</span></strong>
      </li>
      <li>Get a specific pledge at
        <strong><span class="code">/api/pledges/:id</span></strong>
      </li>
      <li>Create a pledge at
        <strong><span class="code">/api/pledges</span></strong>
      </li>
      <li>Update a pledge at
        <strong><span class="code">/api/pledges/:id</span></strong>
      </li>
      <li>Destroy a pledge at
        <strong><span class="code">/api/pledges/:id</span></strong>
      </li>
    </ul>
  </body>
</html>
