/*.column {
  float: left;
  width: 33%;
  height: 100%;
}
*/

header, .column {
  border: 1px solid black;
}

header {
  flex: 1 100%;
}

#container {
  display: flex;
  justify-content: space-between;

}

.column {
  width: 20%;
}

@media (max-width: 720px) {
  .column {
    width: 100%;
  }
}

