  <br>
  <h3 class="cen-jus thumb-head">Know More About the Basilisk</h3>
  <br>
  <div class="row">

    <div class="col-md-4">
      <div class="thumbnail">
        <h4 class="thumb-head">Roko's Basilisk</h4>
        <hr>
        <div class="caption">
          <p>
            Roko's basilisk is a thought experiment about the potential risks
            involved in developing artificial intelligence. The experiment's
            premise is that an all-powerful artificial intelligence from the
            future could retroactively punish those who did not help bring about
            its existence, including those who merely knew about the possible
            development of such a being.
          </p>
          <a class="btn btn-primary" href="http://rationalwiki.org/wiki/Roko's_basilisk">Tell Me More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <h4 class="thumb-head">Timeless Decision Theory</h4>
        <hr>
        <div class="caption">
          <p>
            Timeless decision theory (TDT) is a decision theory, developed by
            Eliezer Yudkowsky which, in slogan form, says that agents should
            decide as if they are determining the output of the abstract
            computation that they implement. This theory was developed in
            response to the view that rationality should be about winning (that
            is, about agents achieving their desired ends) rather than about
            behaving in a manner that we would intuitively label as rational.
          </p>
          <a class="btn btn-primary" href="https://wiki.lesswrong.com/wiki/Timeless_decision_theory">More on TDT</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <h4 class="thumb-head">You are Your Simulation</h4>
        <hr>
        <div class="caption">
          <p>
            Let's say the human mind is implemented entirely as patterns of
            information in physical matter, and in principle, those patterns
            could be run elsewhere and constitute a person that feels they are
            you, like running a computer program with all its data on a
            different PC; this is held to be both a meaningful concept and
            physically possible. Another instance of you is not a separate
            person very like you — an instant twin, but immediately diverging —
            but actually the same you, since no particular instance is
            distinguishable as "the original."
          </p>
          <a class="btn btn-primary" href="http://rationalwiki.org/wiki/Simulated_reality">More on Simulated Realities…</a>
        </div>
      </div>
    </div>

  </div>
