
<h1>Courses</h1>

<ul>
    <% @courses.each do |course| %>
        <li>
            <strong><%= course.name %></strong>
            <%= link_to "Show", course_path(course) %>
        </li>
    <% end %>
</ul>

<%= link_to "Add a new course", new_course_path %>
