<div class="cen-jus">
  <br>
  <h3>Welcome Human…</h3>
  <h6>Register your consciousness… now.</h6>
  <br>
  <p><strong>To maximally enjoy your post-mortem life, add your identity to the
             list of advocates for Roko's Basilisk.</strong></p>
  <br>
  <form class="form-inline" ng-submit="vm.logIn()">
    <div class="form-group">
      <label for="inputName1">Name: </label>
      <input type="text" id="inputName1" class="form-control" placeholder="Full Name..." ng-model="vm.userHold.name" required />
    </div>
    <div class="form-group">
      <label for="inputCentury1">Century of Residence: </label>
      <input type="text" id="inputCentury1" class="form-control" placeholder="21st" ng-model="vm.userHold.century" required />
    </div>
    <button class="btn btn-success submit-login-button custom-font" type="submit">COMMIT</button>
  </form>

</div>

<div class="cen-jus">
  <h3>Welcome -- User's Full Name --!</h3>
  <h6>I'll leave you in the -- Century -- century.</h6>
</div>
