<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {page: 'about'}) $>
  <div class="container about-content">
    <h3 class="custom-font">About Bootsy Collins</h3>
    <main>
      <article>
        <img class="about-bootsy-pic left" src="https://s-media-cache-ak0.pinimg.com/564x/98/af/56/98af56bfd6de380f8e09715d12e81fd7.jpg" alt="bootsy1">
        <p class="about-p">Bootsy, the undeniably coolest man alive, has put his
        secrets of hipness on the internet for you to follow. However, in order
        to believe in the Bootsy process, you have to know all about the history
        of Bootsy. He started as a bass player for James Brown, the hardest
        working man in showbiz, before joining the funk king himself, George
        Clinton. He then had a successful solo career, working with crazy cats
        like Snoop Dogg, Buckethead, and Talib Kweli.</p>
      </article>
      <article class="set-clear">
        <img class="about-bootsy-pic right" src="http://assets.rollingstone.com/assets/images/list/20121010-bootsy-306x-1349889235.jpg" alt="bootsy2">
        <p class="about-p">Now that Bootsy has his online bass school,
        <a href="http://www.thefunkuniversity.com/">The Funk University</a> it
        only seemed appropriate that he offer a Todo list website to help his
        fans become a little more like him. "Make Me Bootsy, Baby" offers you
        <a href="/todos">--<$= numberOfTodos $>-- todos</a> to incorporate
        into your life. They come in differing degrees of Bootsy style - feel
        free to work your way up to the really Bootsy challenges! Get started
        right away by looking at the fresh <a href="/todos">todos</a> section of
        our website, baby!</p>
      </article>
    </main>
  </div>
  <$- include('../partials/scripts') $>
</body>
</html>
