<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {page: 'home'}) $>
  <div class="container home-content">
    <br>
    <h3>Become the Bootsy You Always Wanted to be, Baby!</h3>
    <p>Learn more about how to change your Bootsiless life <a href="/about">here</a>!</p>
  </div>
  <$- include('../partials/scripts') $>
</body>
</html>
