<!DOCTYPE html>
<html>
<head>
  <title>LayoutLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

THIS IS THE LAYOUT "PAGE"
<br>

<%= yield %>

</body>
</html>
