<meta charset="utf-8">

<title><%= title %></title>
<meta name="description" content="A lab for learning how to consume and produce APIs.">

<link rel="stylesheet" type="text/css" href="/css/main.css">


